In [1]:
import pandas as pd
import getpass
import numpy as np
from sqlalchemy import create_engine

In [2]:
INC5000_df = pd.read_csv("inc5000-2019.csv")

In [3]:
INC5000_df

,_ - rank,Profile,name,url,state,_ - revenue,_ - growth,_ - industry,_ - workers,_ - founded,_ - yrs_on_list,_ - previous_workers,_ - metro,city
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,2015,1,5,Phoenix,Phoenix
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,2015,1,8,Nashville,Brentwood
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,2015,1,10,Austin,Austin
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2014,1,2,NaN,Albuquerque
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,2014,1,6,Philadelphia,Philadelphia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8 Million,52.2377,Consumer Products & Services,88.0,1946,3,62,Houston,Houston
5008,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6 Million,52.2127,Construction,380.0,2011,1,220,Chicago,Chicago
5009,4998,https://www.inc.com/profile/naval-systems,Naval Systems,n-s-i.us,MD,29.7 Million,52.2037,Government Services,187.0,2004,1,127,NaN,LEXINGTON PARK
5010,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8 Million,52.1919,Telecommunications,132.0,2011,1,47,San Diego,Solana Beach
5011,5000,https://www.inc.com/profile/vivayic,Vivayic,vivayic.com,NE,4.5 Million,52.1691,Business Products & Services,27.0,2006,4,22,NaN,Lincoln

In [4]:
print(INC5000_df.dtypes)

_ - rank                  int64
Profile                  object
name                     object
url                      object
state                    object
_ - revenue              object
_ - growth              float64
_ - industry             object
_ - workers             float64
_ - founded               int64
_ - yrs_on_list           int64
_ - previous_workers      int64
_ - metro                object
city                     object
dtype: object

In [10]:
new = INC5000_df['_ - revenue'].str.split(" ", n = 1, expand = True)

In [11]:
INC5000_df["revenue"]= new[0]

In [12]:
INC5000_df

,_ - rank,Profile,name,url,state,_ - revenue,_ - growth,_ - industry,_ - workers,_ - founded,_ - yrs_on_list,_ - previous_workers,_ - metro,city,revenue
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,2015,1,5,Phoenix,Phoenix,36.9
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,2015,1,8,Nashville,Brentwood,33.6
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,2015,1,10,Austin,Austin,24.9
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2014,1,2,NaN,Albuquerque,32.4
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,2014,1,6,Philadelphia,Philadelphia,22.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8 Million,52.2377,Consumer Products & Services,88.0,1946,3,62,Houston,Houston,15.8
5008,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6 Million,52.2127,Construction,380.0,2011,1,220,Chicago,Chicago,11.6
5009,4998,https://www.inc.com/profile/naval-systems,Naval Systems,n-s-i.us,MD,29.7 Million,52.2037,Government Services,187.0,2004,1,127,NaN,LEXINGTON PARK,29.7
5010,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8 Million,52.1919,Telecommunications,132.0,2011,1,47,San Diego,Solana Beach,8.8
5011,5000,https://www.inc.com/profile/vivayic,Vivayic,vivayic.com,NE,4.5 Million,52.1691,Business Products & Services,27.0,2006,4,22,NaN,Lincoln,4.5

In [13]:
print(INC5000_df.dtypes)

_ - rank                  int64
Profile                  object
name                     object
url                      object
state                    object
_ - revenue              object
_ - growth              float64
_ - industry             object
_ - workers             float64
_ - founded               int64
_ - yrs_on_list           int64
_ - previous_workers      int64
_ - metro                object
city                     object
revenue                  object
dtype: object

In [14]:
INC5000_df['revenue']=INC5000_df['revenue'].astype(float)

In [15]:
print(INC5000_df.dtypes)

_ - rank                  int64
Profile                  object
name                     object
url                      object
state                    object
_ - revenue              object
_ - growth              float64
_ - industry             object
_ - workers             float64
_ - founded               int64
_ - yrs_on_list           int64
_ - previous_workers      int64
_ - metro                object
city                     object
revenue                 float64
dtype: object

In [16]:
renamed_df = INC5000_df.rename(columns={"_ - rank":"rank", "_ - growth":"growth","_ - industry":"industry","_ - workers":"workers","_ - founded":"founded","_ - yrs_on_list":"yrs_on_list","_ - previous_workers":"previous_workers","_ - metro":"metro"})

In [17]:
renamed_df

,rank,Profile,name,url,state,_ - revenue,growth,industry,workers,founded,yrs_on_list,previous_workers,metro,city,revenue
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,2015,1,5,Phoenix,Phoenix,36.9
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,2015,1,8,Nashville,Brentwood,33.6
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,2015,1,10,Austin,Austin,24.9
3,4,https://www.inc.com/profile/ladyboss,LadyBoss,http://ladyboss.com,NM,32.4 Million,21849.8925,Consumer Products & Services,57.0,2014,1,2,NaN,Albuquerque,32.4
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,2014,1,6,Philadelphia,Philadelphia,22.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8 Million,52.2377,Consumer Products & Services,88.0,1946,3,62,Houston,Houston,15.8
5008,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6 Million,52.2127,Construction,380.0,2011,1,220,Chicago,Chicago,11.6
5009,4998,https://www.inc.com/profile/naval-systems,Naval Systems,n-s-i.us,MD,29.7 Million,52.2037,Government Services,187.0,2004,1,127,NaN,LEXINGTON PARK,29.7
5010,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8 Million,52.1919,Telecommunications,132.0,2011,1,47,San Diego,Solana Beach,8.8
5011,5000,https://www.inc.com/profile/vivayic,Vivayic,vivayic.com,NE,4.5 Million,52.1691,Business Products & Services,27.0,2006,4,22,NaN,Lincoln,4.5

In [18]:
clean_nan_df = renamed_df.dropna()

In [19]:
clean_nan_df

,rank,Profile,name,url,state,_ - revenue,growth,industry,workers,founded,yrs_on_list,previous_workers,metro,city,revenue
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,2015,1,5,Phoenix,Phoenix,36.9
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,2015,1,8,Nashville,Brentwood,33.6
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,2015,1,10,Austin,Austin,24.9
4,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,2014,1,6,Philadelphia,Philadelphia,22.5
5,6,https://www.inc.com/profile/cano-health,Cano Health,http://canohealth.com,FL,271.8 Million,14183.4118,Health,742.0,2009,1,18,Miami,Miami,271.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5005,4994,https://www.inc.com/profile/gemini-power-systems,Gemini Power Systems,geminipower.com,FL,93 Million,52.4300,Telecommunications,35.0,2000,1,20,Tampa,Saint Petersburg,93.0
5006,4995,https://www.inc.com/profile/golden-star-techno...,Golden Star Technology,gstes.com,CA,154.4 Million,52.3467,IT Services,99.0,1985,5,70,Los Angeles,Cerritos,154.4
5007,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8 Million,52.2377,Consumer Products & Services,88.0,1946,3,62,Houston,Houston,15.8
5008,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6 Million,52.2127,Construction,380.0,2011,1,220,Chicago,Chicago,11.6
5010,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8 Million,52.1919,Telecommunications,132.0,2011,1,47,San Diego,Solana Beach,8.8

In [20]:
df = clean_nan_df.reset_index(drop=True)

In [21]:
df

,rank,Profile,name,url,state,_ - revenue,growth,industry,workers,founded,yrs_on_list,previous_workers,metro,city,revenue
0,1,https://www.inc.com/profile/freestar,Freestar,http://freestar.com,AZ,36.9 Million,36680.3882,Advertising & Marketing,40.0,2015,1,5,Phoenix,Phoenix,36.9
1,2,https://www.inc.com/profile/freightwise,FreightWise,http://freightwisellc.com,TN,33.6 Million,30547.9317,Logistics & Transportation,39.0,2015,1,8,Nashville,Brentwood,33.6
2,3,https://www.inc.com/profile/ceces-veggie,Cece's Veggie Co.,http://cecesveggieco.com,TX,24.9 Million,23880.4852,Food & Beverage,190.0,2015,1,10,Austin,Austin,24.9
3,5,https://www.inc.com/profile/perpay,Perpay,http://perpay.com,PA,22.5 Million,18166.4070,Retail,25.0,2014,1,6,Philadelphia,Philadelphia,22.5
4,6,https://www.inc.com/profile/cano-health,Cano Health,http://canohealth.com,FL,271.8 Million,14183.4118,Health,742.0,2009,1,18,Miami,Miami,271.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4193,4994,https://www.inc.com/profile/gemini-power-systems,Gemini Power Systems,geminipower.com,FL,93 Million,52.4300,Telecommunications,35.0,2000,1,20,Tampa,Saint Petersburg,93.0
4194,4995,https://www.inc.com/profile/golden-star-techno...,Golden Star Technology,gstes.com,CA,154.4 Million,52.3467,IT Services,99.0,1985,5,70,Los Angeles,Cerritos,154.4
4195,4996,https://www.inc.com/profile/village-plumbing-air,Village Plumbing & Air,villageplumbing.com,TX,15.8 Million,52.2377,Consumer Products & Services,88.0,1946,3,62,Houston,Houston,15.8
4196,4997,https://www.inc.com/profile/real-restoration-g...,Real Restoration Group,realrestoration.com,IL,11.6 Million,52.2127,Construction,380.0,2011,1,220,Chicago,Chicago,11.6
4197,4999,https://www.inc.com/profile/hnm-systems,HNM Systems,hnmsystems.com,CA,8.8 Million,52.1919,Telecommunications,132.0,2011,1,47,San Diego,Solana Beach,8.8

In [23]:
INC_2019_5000 = df[["rank","name","url","industry","state","growth","revenue","workers","founded","yrs_on_list","previous_workers","metro","city"]]

In [24]:
INC_2019_5000

,rank,name,url,industry,state,growth,revenue,workers,founded,yrs_on_list,previous_workers,metro,city
0,1,Freestar,http://freestar.com,Advertising & Marketing,AZ,36680.3882,36.9,40.0,2015,1,5,Phoenix,Phoenix
1,2,FreightWise,http://freightwisellc.com,Logistics & Transportation,TN,30547.9317,33.6,39.0,2015,1,8,Nashville,Brentwood
2,3,Cece's Veggie Co.,http://cecesveggieco.com,Food & Beverage,TX,23880.4852,24.9,190.0,2015,1,10,Austin,Austin
3,5,Perpay,http://perpay.com,Retail,PA,18166.4070,22.5,25.0,2014,1,6,Philadelphia,Philadelphia
4,6,Cano Health,http://canohealth.com,Health,FL,14183.4118,271.8,742.0,2009,1,18,Miami,Miami
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4193,4994,Gemini Power Systems,geminipower.com,Telecommunications,FL,52.4300,93.0,35.0,2000,1,20,Tampa,Saint Petersburg
4194,4995,Golden Star Technology,gstes.com,IT Services,CA,52.3467,154.4,99.0,1985,5,70,Los Angeles,Cerritos
4195,4996,Village Plumbing & Air,villageplumbing.com,Consumer Products & Services,TX,52.2377,15.8,88.0,1946,3,62,Houston,Houston
4196,4997,Real Restoration Group,realrestoration.com,Construction,IL,52.2127,11.6,380.0,2011,1,220,Chicago,Chicago
4197,4999,HNM Systems,hnmsystems.com,Telecommunications,CA,52.1919,8.8,132.0,2011,1,47,San Diego,Solana Beach

In [25]:
INC_2019_data = renamed_df[["rank","name","url","industry","state","growth","revenue","workers","founded","yrs_on_list","previous_workers","metro","city"]]

In [26]:
INC_2019_data

,rank,name,url,industry,state,growth,revenue,workers,founded,yrs_on_list,previous_workers,metro,city
0,1,Freestar,http://freestar.com,Advertising & Marketing,AZ,36680.3882,36.9,40.0,2015,1,5,Phoenix,Phoenix
1,2,FreightWise,http://freightwisellc.com,Logistics & Transportation,TN,30547.9317,33.6,39.0,2015,1,8,Nashville,Brentwood
2,3,Cece's Veggie Co.,http://cecesveggieco.com,Food & Beverage,TX,23880.4852,24.9,190.0,2015,1,10,Austin,Austin
3,4,LadyBoss,http://ladyboss.com,Consumer Products & Services,NM,21849.8925,32.4,57.0,2014,1,2,NaN,Albuquerque
4,5,Perpay,http://perpay.com,Retail,PA,18166.4070,22.5,25.0,2014,1,6,Philadelphia,Philadelphia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5007,4996,Village Plumbing & Air,villageplumbing.com,Consumer Products & Services,TX,52.2377,15.8,88.0,1946,3,62,Houston,Houston
5008,4997,Real Restoration Group,realrestoration.com,Construction,IL,52.2127,11.6,380.0,2011,1,220,Chicago,Chicago
5009,4998,Naval Systems,n-s-i.us,Government Services,MD,52.2037,29.7,187.0,2004,1,127,NaN,LEXINGTON PARK
5010,4999,HNM Systems,hnmsystems.com,Telecommunications,CA,52.1919,8.8,132.0,2011,1,47,San Diego,Solana Beach
5011,5000,Vivayic,vivayic.com,Business Products & Services,NE,52.1691,4.5,27.0,2006,4,22,NaN,Lincoln

In [28]:
connection_string = f"postgres:{pw}@localhost:5432/INC_2019_data"
engine = create_engine(f'postgresql://{connection_string}')

In [27]:
#pw = getpass.getpass()

········

In [29]:
engine.table_names()

[]

In [30]:
INC_2019_data.to_sql(name='INC_2019_data', con=engine, if_exists='append', index=False)